@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Montserrat&display=swap');

*{
    font-family: Montserrat, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #381B07;
}

h1, h2, h3 {
    font-family: Hahmlet, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
 /* header and nav  for all pages  */

header {
    padding-bottom: 20px;
    width: 100%;
}

h1 {
    font-size: 300%;
}

.welcome {
    text-transform: uppercase;
    color: #0F0401;
    letter-spacing: 3px;
    text-align: center;
}

.navigation-bar {
    font-size: 130%;
    line-height: 40px;
    letter-spacing: 3px;
    text-align: center;
    }

.navigation-bar li {
    list-style-type: none;
    margin-right: 40px;
    margin-bottom: 40px;
    display: inline;
    }

.navigation-bar a {
    text-decoration: none;
    color: #381B07;
    }

#active-page {
    border-bottom: 1px solid #0F0401;
    }

/* Sections in home */

.section-up  {
    width: 100%;
    max-width: 700px;
    background-color: #6B350E;
    color: #E0E0E0;
    text-align: center;
    }

.section-up p, h3 {
    color: #E0E0E0;
    padding-bottom: 5%;
}

#reason li {
    color: #E0E0E0;
    padding-bottom: 9px;
    list-style-type: none;
}

#image1 {
    width: 100%;
    height: 600px;
    background: url('../images/image1.jpg') no-repeat center center;
}

.section-lower {
    width: 100%;
    max-width: 700px;
    background-color: #6B350E;
    color: #E0E0E0;
}

.icons i {
    font-size: 300%;
    color: #E0E0E0;
}

.section-lower li {
    color: #E0E0E0;
    margin-left: 30px;
    font-size: 130%;
    padding-bottom: 5px;
}

.section-lower h3 {
    font-size: 200%;
    color: #E0E0E0;
    margin-left: 20px;
    padding-bottom: 10px;
}

.contact {
    text-align: center;
    border: #381B07 1px solid ;
    max-width: 700px;
}

.contact h3 {
    color: #381B07;
}

iframe {
    border-radius: 4px;
    border: #6B350E 1px solid;
    margin-top: 20px;
    max-width: 700px;
}

/* Footer for all pages*/

.social {
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 170%;
    margin: 10px;
    padding: 10px;
    color: #381B07;
}

/* Style for gallery */

.photo {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

.photo img {
    width: 100%;
}


/* Style Adoption page */

input {
    display: block;
   margin-bottom: 10px;
  margin-bottom: 15px;
  font-size: 120%;
}

.adoption-form {
    margin: 30px 1% 0 0;
    color: #E0E0E0;
    background-color: rgba(241, 136, 39, 0.6);
    max-width: 500px;
    position: absolute;
    left: 2%;
    padding: 20px;
    font-size: 130%;
}

.adoption-section {
    
    background: url(../images/image9.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    clear: right;
}

#adopt-button {
    margin-top: 100px;
    border-radius: 1px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-size: 100%;
    background-color: #000000;
    color: #E0E0E0;
    display: block;
}

/* About page */
.div-about {
    width: 100%;
    background-color: #6B350E;
    color: #E0E0E0;
    text-align: center;
    max-width: 1418px;
    }

.headings-about {
    text-decoration: underline #E0E0E0;
    color: #E0E0E0;
    font-size: 130%;
}

.p-about {
    color: #E0E0E0;
    padding-bottom: 20px;
    font-size: 120%;
}

.p-about b {
    color: #E0E0E0;
}

#image10 {
        width: 100%;
        height: 600px;
        background: url('../images/image10.jpg') no-repeat center center;
        max-width: 1418px;
    }    

/* Grid CSS */
.flexible-grid {
    display: flex;
    justify-content: space-between;
    place-content: center;
}
.column {
    flex: 1;
    margin: 5px;
}


@media (max-width: 650px) {
.flexible-grid {
    display: block;
}
.welcome {
    font-size: 120%;
    }

.photo {
    column-count: 2;
    }
      
.adoption-form {
    font-size: 100%;
    }

    .headings-about {
    font-size: 110%;
}

.p-about {
    font-size: 100%;
}

#image10 {
    height: 300px;
}
}